
.body-acceuil {
    background: url('acceuil.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.h1-acceuil{

    color: rgb(41, 30, 16);
    text-align: center;
    margin-top: 5rem;
    text-decoration-color: bisque;
    

}